*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    
}

body.home{
    background-image: url(../images/bus.jpg);
    background-size: cover;
   
}

.header-text {
    display: flex;
    justify-content: center;
    padding-top: 10%;
    left: 20rem;
    top: 10rem;
    color: white;
}

/*h1{
    text-align: center;
    margin-top: 3vh;    
    display: block;
    font-weight: 600;
    color: #0d0d0e
}*/
body.body_ab{
    background-image: url(../images/LakeLoiuse.jpg);
    background-size: cover;
}

body.body_bc{
    background-image: url(../images/BC_4.jpg);
    background-size: cover;  

}

.container_ab{
    height:100%;
    margin-top:3vh;
    justify-content:center;
    /*background-color:tan*/   
}
.container_bc{
    margin-top:3vh;
    justify-content:center;
      
}
#col1_hm{ 
    margin-top:2vh;
  

}
#col2_hm{
    margin-top: 2vh;
 
}

#form1{ 
    margin-bottom: 1vh;    
}

#button1{
    margin-left: 78vh;
    width: 110px;

}

#form2{
    margin-bottom: 11.2vh;

}
#button2{
    margin-left: 3vw;  
}